*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    background: #fdfdfd url('../Images/BanderaCR.jpg')repeat-x;
    background-color: #fdfdfd;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: rgb(35, 93, 255);
    line-height: 18px;
    
}

#main{
    position: relative;
    margin: 0px auto;
    align-items: center;
    width: 80%;
    
}

#imagen{
    display: flex;
    align-items: center;

    
}

#video{
    display: flex;
    align-items: center;

}
a {
    color :rgb(35, 93, 255);
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}



#parrafo {

    margin-bottom: 14px;
    text-align: justify;   
    font-family: Georgia, serif;
    font-size: 15px;
    color :rgb(35, 93, 255);
}
#header {
    max-width: 100%;
    height: 170px;
}


#logo{
    padding-top: 50px;


    display: flex;
    width: 100%;
    height: 100%;
    
}

#header #logo h1{
    text-align: left;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 20px;
    margin: 10px;
}

#informacion{
    background-color: #6e7bee;
}

#footer{
    height: 50px;
    align-items: center;
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#menu{
    display : flex;
    height: auto;
    margin-bottom: 10px;
    background-color: rgb(35, 93, 255);
}

#menucontainer .principal{
    float: left;
    color: white;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#menucontainer a:hover{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(158, 32, 32);
}

#menucontainer a.last{
    border-right: 0px;
}
