#menu{
    display : flex;
    height: auto;
    margin-bottom: 10px;
    background-color: rgb(35, 93, 255);
}

#menucontainer .principal{
    float: left;
    color: white;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#menucontainer a:hover{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(158, 32, 32);
}

#menucontainer a.last{
    border-right: 0px;
}

