*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #424242 url('../Images/imagenFondo.png')repeat-x repeat-y;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: palegoldenrod;
    line-height: 18px;
}



