*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    background: #fdfdfd url('../Images/BanderaCR.jpg')repeat-x;
    background-color: #fdfdfd;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: rgb(35, 93, 255);
    line-height: 18px;
}

a {
    color :rgb(35, 93, 255);
    text-decoration: underline;
}


a:hover {
    text-decoration: none;
}

sup {
    font-size: 0.5em;
}

.header p {
    background-color: #6e7bee;
    margin-bottom: 14px;
    text-align: justify;   
    font-family: Georgia, serif;
    font-size: 15px;
    color: white;
}

img.picA{
    position: relative;
    top: -2px;
    width: 104px;
    height: 104px;
    padding: 8px;
}

img.floatleft{
    float: left;
    margin: 0px 14px 3px 0px;
}

#outer {
    position: relative;
    width: 80%;
    margin: top 10px;
    border: initial;
    overflow: overlay;
    margin: 0px auto;
}

#header {
    max-width: 100%;
    height: 170px;
}


#logo{
    padding-top: 50px;


    display: flex;
    width: 100%;
    height: 100%;
    
}

#header #logo h1{
    text-align: left;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 20px;
    margin: 10px;
}


#principalcontent{
    width: 100%;
    background-color: white;
}


#primarycontent {
    float: left;
    width: 80%;
    margin-right: 3px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1;

}

#footer{
    height: 50px;
    align-items: center;
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#secundarycontent{
    width: 25%;
    float: right;
}

#secundarycontent .content{
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
}

#primarycontent .post{
    margin-bottom: 20px;
    padding: 0px 15px 0px 15px;
    text-align: justify;
    margin-left: 5px;
}

.imagen {
    max-width: 100px;
    margin : 2px;
}
h3{
    margin: 2px;
}

ul {
    list-style: none;
}

ul li{
    display: inline;
    line-height: 14px;
    padding-left: 17px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

tabla1{
    margin: 5px;
    align-items: center;
    display: flex;
}
table {
    border-collapse: separate;
    border-spacing: 5px;
    color: rgb(35, 93, 255);
 }
 td, th {
    background: #6e7bee;
    color: #ffffff;
 }

 .link{
    color: #ffffff;
 }


